
@{
    ViewBag.Title = "Index";
}

<main>
    <div class="row">
        <section id="Map">
            <iframe src="" class="col-sm-8"></iframe>
            <div class="card col-sm-4" id="Details">
                <img class="card-img-top mx-auto" src="" alt="User Profile Img">
                <div class="card-body">
                    <h5 class="card-title text-center">Details</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi magna, aliquam nec rhoncus tincidunt, dapibus sed eros. Suspendisse turpis nibh, lobortis eget lacus eu, facilisis suscipit libero. Praesent ac ultrices lacus. Etiam nec semper est, ac cursus dui. Aliquam tristique nunc sed leo consectetur, at viverra mi pretium. Aenean et fringilla tortor, non maximus ipsum. Vivamus vitae sem ipsum. Vestibulum aliquet placerat faucibus. Maecenas eu lectus faucibus, auctor dui at, egestas sapien. Nunc id laoreet velit. Proin dui metus, semper ut maximus a, porttitor sed diam.
                    </p>

                </div>
            </div>

        </section>
    </div>
    <div class="row">
        <section id="FilterOptions">
            <select class="form-control col-sm-4" id="Options">
                <option>Car Pool</option>
                <option>Buses</option>
                <option>Cycle</option>

            </select>
        </section>
    </div>



    <section></section>
</main>

