<h1>Map</h1>
<h2>@ViewBag.Data</h2>
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
</head>
<body>
    <div id="mapid"></div>
    <script>
        var data = {
            "status": "OK",
            "response": [{
                "stop_id": "11927-20190819140255_v83.2",
                "stop_name": "Halsey St/Madden St",
                "stop_desc": null,
                "stop_lat": -36.84284,
                "stop_lon": 174.7577,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11927",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000BC0512143FD865405DE15D2EE26B42C0",
                "st_distance_sphere": 376.321405921
            }, {
                "stop_id": "1344-20190819140255_v83.2",
                "stop_name": "Halsey St near Madden St",
                "stop_desc": null,
                "stop_lat": -36.84284,
                "stop_lon": 174.7577,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1344",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11927-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000BC0512143FD865405DE15D2EE26B42C0",
                "st_distance_sphere": 376.321405921
            }, {
                "stop_id": "11701-20190819140255_v83.2",
                "stop_name": "Jellicoe St/Wynard Quarter",
                "stop_desc": null,
                "stop_lat": -36.8405,
                "stop_lon": 174.75564,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11701",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E610000095F1EF332ED86540DD240681956B42C0",
                "st_distance_sphere": 391.962034791
            }, {
                "stop_id": "1061-20190819140255_v83.2",
                "stop_name": "63 Jellicoe St",
                "stop_desc": null,
                "stop_lat": -36.8405,
                "stop_lon": 174.75564,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1061",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11701-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E610000095F1EF332ED86540DD240681956B42C0",
                "st_distance_sphere": 391.962034791
            }, {
                "stop_id": "11029-20190819140255_v83.2",
                "stop_name": "Sturdee St/Market Lane",
                "stop_desc": null,
                "stop_lat": -36.84467,
                "stop_lon": 174.76197,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11029",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000000FD1E80E62D86540C7F484251E6C42C0",
                "st_distance_sphere": 548.074084812
            }, {
                "stop_id": "7004-20190819140255_v83.2",
                "stop_name": "Sturdee St near Pakenham St",
                "stop_desc": null,
                "stop_lat": -36.84467,
                "stop_lon": 174.76197,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "7004",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11029-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000000FD1E80E62D86540C7F484251E6C42C0",
                "st_distance_sphere": 548.074084812
            }, {
                "stop_id": "1346-20190819140255_v83.2",
                "stop_name": "Quay St outside PWC",
                "stop_desc": null,
                "stop_lat": -36.8429,
                "stop_lon": 174.7653,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1346",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "61140-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000001FF46C567DD8654032E6AE25E46B42C0",
                "st_distance_sphere": 571.341344194
            }, {
                "stop_id": "61140-20190819140255_v83.2",
                "stop_name": "Quay St/Lower Albert St",
                "stop_desc": null,
                "stop_lat": -36.8429,
                "stop_lon": 174.7653,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "61140",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000001FF46C567DD8654032E6AE25E46B42C0",
                "st_distance_sphere": 571.341344194
            }, {
                "stop_id": "9630-20190819140255_v83.2",
                "stop_name": "Downtown Ferry Terminal Pier 4",
                "stop_desc": null,
                "stop_lat": -36.84262,
                "stop_lon": 174.76587,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "9630",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "96001-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000009A5FCD0182D865404E7ADFF8DA6B42C0",
                "st_distance_sphere": 598.114996479
            }, {
                "stop_id": "11028-20190819140255_v83.2",
                "stop_name": "Fanshawe St/Bradnor Lane",
                "stop_desc": null,
                "stop_lat": -36.84534,
                "stop_lon": 174.76174,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11028",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000C381902C60D865401500E319346C42C0",
                "st_distance_sphere": 613.638135039
            }, {
                "stop_id": "7034-20190819140255_v83.2",
                "stop_name": "Fanshawe St near Bradnor Lane",
                "stop_desc": null,
                "stop_lat": -36.84534,
                "stop_lon": 174.76174,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "7034",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11028-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000C381902C60D865401500E319346C42C0",
                "st_distance_sphere": 613.638135039
            }, {
                "stop_id": "9620-20190819140255_v83.2",
                "stop_name": "Downtown Ferry Terminal Pier 3",
                "stop_desc": null,
                "stop_lat": -36.84271,
                "stop_lon": 174.76616,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "9620",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "96001-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000001CF0F96184D865408E01D9EBDD6B42C0",
                "st_distance_sphere": 625.539563911
            }, {
                "stop_id": "7071-20190819140255_v83.2",
                "stop_name": "Lower Albert St near Quay St",
                "stop_desc": null,
                "stop_lat": -36.84346,
                "stop_lon": 174.76561,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "7071",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11808-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000B3EF8AE07FD86540F9BD4D7FF66B42C0",
                "st_distance_sphere": 630.276970775
            }, {
                "stop_id": "11808-20190819140255_v83.2",
                "stop_name": "Britomart",
                "stop_desc": null,
                "stop_lat": -36.84346,
                "stop_lon": 174.76561,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11808",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000B3EF8AE07FD86540F9BD4D7FF66B42C0",
                "st_distance_sphere": 630.276970775
            }, {
                "stop_id": "1330-20190819140255_v83.2",
                "stop_name": "Opp 47 Halsey St",
                "stop_desc": null,
                "stop_lat": -36.84513,
                "stop_lon": 174.75667,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1330",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11928-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000A9FB00A436D865402A6F47382D6C42C0",
                "st_distance_sphere": 642.808297864
            }, {
                "stop_id": "1329-20190819140255_v83.2",
                "stop_name": "47 Halsey St",
                "stop_desc": null,
                "stop_lat": -36.84516,
                "stop_lon": 174.75673,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1329",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11928-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000DE3CD52137D8654095F1EF332E6C42C0",
                "st_distance_sphere": 643.337770019
            }, {
                "stop_id": "11928-20190819140255_v83.2",
                "stop_name": "Halsey St/Viaduct Harbour Ave",
                "stop_desc": null,
                "stop_lat": -36.84516,
                "stop_lon": 174.75673,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11928",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000DE3CD52137D8654095F1EF332E6C42C0",
                "st_distance_sphere": 643.337770019
            }, {
                "stop_id": "1360-20190819140255_v83.2",
                "stop_name": "20 Hobson St",
                "stop_desc": null,
                "stop_lat": -36.84539,
                "stop_lon": 174.76295,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1360",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11016-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000764F1E166AD86540C72E51BD356C42C0",
                "st_distance_sphere": 654.311627074
            }, {
                "stop_id": "11016-20190819140255_v83.2",
                "stop_name": "Hobson St/Swanson St",
                "stop_desc": null,
                "stop_lat": -36.84539,
                "stop_lon": 174.76295,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11016",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000764F1E166AD86540C72E51BD356C42C0",
                "st_distance_sphere": 654.311627074
            }, {
                "stop_id": "9610-20190819140255_v83.2",
                "stop_name": "Downtown Ferry Terminal Pier 2",
                "stop_desc": null,
                "stop_lat": -36.84245,
                "stop_lon": 174.76677,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "9610",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "96001-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000BA313D6189D86540F241CF66D56B42C0",
                "st_distance_sphere": 661.190774228
            }, {
                "stop_id": "11030-20190819140255_v83.2",
                "stop_name": "Fanshawe St/Bouzaid Way",
                "stop_desc": null,
                "stop_lat": -36.84589,
                "stop_lon": 174.75788,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11030",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000005CC98E8D40D86540B8019F1F466C42C0",
                "st_distance_sphere": 681.56820143
            }, {
                "stop_id": "7035-20190819140255_v83.2",
                "stop_name": "Fanshawe St by Bouzaid Way",
                "stop_desc": null,
                "stop_lat": -36.84589,
                "stop_lon": 174.75788,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "7035",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11030-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000005CC98E8D40D86540B8019F1F466C42C0",
                "st_distance_sphere": 681.56820143
            }, {
                "stop_id": "7080-20190819140255_v83.2",
                "stop_name": "26 Hobson St",
                "stop_desc": null,
                "stop_lat": -36.84578,
                "stop_lon": 174.76266,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "7080",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11016-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000F5BEF1B567D8654031CEDF84426C42C0",
                "st_distance_sphere": 684.91101413
            }, {
                "stop_id": "9600-20190819140255_v83.2",
                "stop_name": "Downtown Ferry Terminal Pier 1",
                "stop_desc": null,
                "stop_lat": -36.84243,
                "stop_lon": 174.76708,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "9600",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "96001-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000004D2D5BEB8BD86540AB9509BFD46B42C0",
                "st_distance_sphere": 685.54163048
            }, {
                "stop_id": "96001-20190819140255_v83.2",
                "stop_name": "Ferry Terminal - Downtown",
                "stop_desc": null,
                "stop_lat": -36.84243,
                "stop_lon": 174.76708,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "96001",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000004D2D5BEB8BD86540AB9509BFD46B42C0",
                "st_distance_sphere": 685.54163048
            }, {
                "stop_id": "11812-20190819140255_v83.2",
                "stop_name": "Customs St West/Queen St",
                "stop_desc": null,
                "stop_lat": -36.84446,
                "stop_lon": 174.76613,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11812",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E610000081CF0F2384D86540DC63E943176C42C0",
                "st_distance_sphere": 737.234558832
            }, {
                "stop_id": "7015-20190819140255_v83.2",
                "stop_name": "Customs St West near Queen St",
                "stop_desc": null,
                "stop_lat": -36.84461,
                "stop_lon": 174.76608,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "7015",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11812-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000D44334BA83D86540F2EF332E1C6C42C0",
                "st_distance_sphere": 745.319674346
            }, {
                "stop_id": "1315-20190819140255_v83.2",
                "stop_name": "Fanshawe St opp Victoria Park",
                "stop_desc": null,
                "stop_lat": -36.84567,
                "stop_lon": 174.75542,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1315",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11031-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000D15790662CD86540AA9A20EA3E6C42C0",
                "st_distance_sphere": 750.738142288
            }, {
                "stop_id": "11031-20190819140255_v83.2",
                "stop_name": "Fanshawe St/Victoria Park",
                "stop_desc": null,
                "stop_lat": -36.84567,
                "stop_lon": 174.75542,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11031",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E6100000D15790662CD86540AA9A20EA3E6C42C0",
                "st_distance_sphere": 750.738142288
            }, {
                "stop_id": "1303-20190819140255_v83.2",
                "stop_name": "101 Beaumont St",
                "stop_desc": null,
                "stop_lat": -36.84445,
                "stop_lon": 174.75328,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1303",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11737-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000006397A8DE1AD86540B98D06F0166C42C0",
                "st_distance_sphere": 776.176791511
            }, {
                "stop_id": "11737-20190819140255_v83.2",
                "stop_name": "Beaumont St/Fanshawe St",
                "stop_desc": null,
                "stop_lat": -36.84445,
                "stop_lon": 174.75328,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "11737",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 1,
                "parent_station": null,
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E61000006397A8DE1AD86540B98D06F0166C42C0",
                "st_distance_sphere": 776.176791511
            }, {
                "stop_id": "1304-20190819140255_v83.2",
                "stop_name": "106 Beaumont St",
                "stop_desc": null,
                "stop_lat": -36.84451,
                "stop_lon": 174.75317,
                "zone_id": "merged_7",
                "stop_url": null,
                "stop_code": "1304",
                "stop_street": null,
                "stop_city": null,
                "stop_region": null,
                "stop_postcode": null,
                "stop_country": null,
                "location_type": 0,
                "parent_station": "11737-20190819140255_v83.2",
                "stop_timezone": null,
                "wheelchair_boarding": null,
                "direction": null,
                "position": null,
                "the_geom": "0101000020E610000082CAF8F719D865408E9257E7186C42C0",
                "st_distance_sphere": 787.972292905
            }],
            "error": null
        }


        var map = L.map('mapid').setView([-36.84, 174.76], 12);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);


        //L.marker([-36.84, 174.76]).addTo(map);

        for (var i = 0; i < data.response.length; i++) {
            L.marker([data.response[i].stop_lat, data.response[i].stop_lon]).addTo(map);
        }

        setTimeout(function () { map.invalidateSize() }, 500);
    </script>
</body>
</html>
<style>
    #mapid {
        height: 500px
    }
</style>