body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fffcf6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #034488;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 15%;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #94ebd8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(520%);
    -ms-transform: translateX(520%);
    transform: translateX(520%);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

    #Slider{
        padding: 1em;
    }



.CenterMe {
    margin: 0 auto;
    width: 80%;
    padding: 10%;
}

.navbar {
    background-color: #034488;
    color: black;
}

.card {
    background-color: #ccdde8;
    color: #034488;
}

#Map{
    margin:1em;
}

iframe{
   margin-right:1em;
}

#Options{
    margin-right:1em;
}