@{
    ViewBag.Title = "About";
}
<br />
<br />
<h2>@ViewBag.Title.</h2>


<p>
    AutoMate is an application made to encourage people to consider other methods of transport like car pooling, public transport or cycling.
    You can look for a ride or offer a ride. Drivers can revieve tips for their effort but the idea is to
    bring the community together and help reduce traffic on the roads while also reducing our carbon footprint.
    Users will be able to see the impact they are having by checking how much they have saved in money and pollution. 
    User will be able to pick a destination and see what other people are heading to that location. <br /> <br />

    Congestion is a problem we face worldwide, it plagues the infrastructure within cbds and causes a large amount of unnecessary carbon emissions and economic loss worldwide. As well as detrimental effects on the populous as a whole. <br /> <br />

    At AutoMate we are taking a new angle on helping to solve these issues and bring us all a cleaner, smoother, less stressful future. We aim to change the public mindset and bring a more accessible way for us all to do our own part. To achieve this we are creating an application that analyzes public transport data from new zealand largest city, Auckland. <br /> <br />

    AutoMate is going to bring public transport infrastructure into the technical age, and break down the barriers of inaccessibility. Users will have the ability to dynamically access all options for their travel needs, as well as all the details needed that currently are not easily accessible to the public, to truly create the public transport of the future. Users will be able to track the financial and environmental impact they are having by seeing how much petrol they save and how their carbon footprint is affected. <br /> <br />

    Alongside the public transport angle AutoMate plans to break the stigma around carpooling/ ride sharing. Currently carpooling is seen as an inconvenience or unreliable, these blemishes on its reputation has lead to a fall in popularity over the years. In order to effectively combat these AutoMate plans to provide users with methods to easily and reliably bring riders and drivers together. Weather going near or far, our navigational algorithms will take the most effective routes and seamlessly match users with absolute minimal inconvenience. <br /> <br />

    We at AutoMate care about our users and the future of our planet, we plan to bring the gold standard of travel technology to the fingertips of all users, so we can each do our part for a brighter future together.

</p>
