@{
    ViewBag.Title = "About";
}
<br />
<br />
<h2>@ViewBag.Title.</h2>


<p>
    AutoMate is an application made to encourage people to consider other methods of transport like car pooling, public transport or cycling.
    You can look for a ride or offer a ride. Drivers can revieve tips for their effort but the idea is to
    bring the community together and help reduce traffic on the roads while also reducing our carbon footprint.
    Users will be able to see the impact they are having by checking how much they have saved in money and pollution.
    User will be able to pick a destination and see what other people are heading to that location.
</p>
