@{
    ViewBag.Title = "";
}


<br />
<br />
<h2>@ViewBag.Title.</h2>

<div class="jumbotron text-center">
    <h1>AutoMate Dashboard</h1>
    <p>Automate statistics for user Floyd Watson</p>
</div>
<!--First 3 widgets that are on the Dashbord to dipaly trips shared (i)total savings (ii)avg savings per day (iii)-->
<!-- Second Line of Widgets -->

<div class="container-fluid">
    <div class="row">
        <div class="col-3 md">
            <div class="card card-widget">
                <div class="card-body gradient-3">
                    <div class="media">
                        <span class="card-widget__icon"><i class="material-icons" style="font-size:24px;">motorcycle</i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">37</h2>
                            <h5 class="card-widget__subtitle">Total AutoMate Trips</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 md">
            <div class="card card-widget">
                <div class="card-body gradient-4">
                    <div class="media">
                        <span class="card-widget__icon"><i class="material-icons" style="font-size:24px;">cloud</i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">720kg</h2>
                            <h5 class="card-widget__subtitle">Total Carbon Dioxide Saved</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 md">
            <div class="card card-widget">
                <div class="card-body gradient-4">
                    <div class="media">
                        <span class="card-widget__icon"><i class="material-icons" style="font-size:24px;">favorite</i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">32</h2>
                            <h5 class="card-widget__subtitle">Rides Provided</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 md">
            <div class="card card-widget">
                <div class="card-body gradient-9">
                    <div class="media">
                        <span class="card-widget__icon"><i class="material-icons" style="font-size:24px;">commute</i></span>
                        <div class="media-body">
                            <h2 class="card-widget__title">420kg</h2>
                            <h5 class="card-widget__subtitle">Monthly Savings Made</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />

 <!-- <div class="container">
     <div class="row">
         {
             var myChart = new Chart(width: 700, height: 400)
         .AddTitle("Totals of CO2 per month")
         .AddSeries(chartType: "column",
         xValue: new[] { "Jan", "Feb", "Mar", "April", "May" },
         yValues: new[] { "132", "226", "144", "205", "456" })
         .Write();
         }

     </div> -->
</div> 
</div>


