@{
    ViewBag.Title = "Home Page";
}


<main class="col-sm-12">
<div class="row">
    <section class="text-center">
        <div id="Slider">
            <label class="form-inline">Ride</label>
            <label class="switch form-inline">
                
                <input type="checkbox">
                <span class="slider round"></span>
                
            </label>
            <label class="form-inline">Drive</label>
        </div>
    </section>
</div>
<div class="row">
    <section class="col-sm-6" id="TripForm">
        <div class="row h-75 justify-content-center align-items-center">
            <form id="RideForm" action="/" enctype="text/plain" class="text-center">
                <div class="form-group row">
                    <label class="col-sm-3" for="CurrentLocation">Current Location</label>
                    <input type="text" class="form-control" id="CurrentLocation" name="CurrentLocation"
                           required=true>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="Destination">Destination</label>
                    <input type="text" class="form-control" id="Destination" name="Destination"
                           required=true>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3" for="Time">Time</label>
                    <input type="text" class="form-control" id="Time" name="Time"
                           required=true>
                </div>
                <button type="submit" class="btn btn-success" value="Send">Submit</button>
            </form>
        </div>
</section>
   

</div>
 


</main>