@{
    ViewBag.Title = "Home Page";
}


<main class="col-sm-12">
<div class="row">
    <section class="text-center">
        <div id="Slider">
            <label class="form-inline">Ride</label>
            <label class="switch form-inline">
                
                <input type="checkbox">
                <span class="slider round"></span>
                
            </label>
            <label class="form-inline">Drive</label>
        </div>
    </section>
</div>
<div class="container-fluid h-100">
<div class="row ">
    <section class="CenterMe">
        <div class="text-center col-sm-12">
            
            <form id="RideForm" action="/" enctype="text/plain" class="text-center">
                <div class="form-group row">
                    <label class="col-md-3 for="CurrentLocation">Current Location</label>
                    <input type="text" class="form-control col-sm-12" id="CurrentLocation" name="CurrentLocation"
                           required=true>
                </div>
                <div class="form-group row text-center">
                    <label class="col-md-3" for="Destination">Destination</label>
                    <input type="text" class="form-control col-sm-8" id="Destination" name="Destination"
                           required=true>
                </div>

                <div class="form-group row text-center">
                    <label class="col-md-3" for="Time">Depart Time</label>
                    <input type="datetime" class="form-control col-sm-8" id="Time" name="Time"
                           required=true>
                </div>
                
                    <button type="submit" class="btn btn-primary" value="Send">Submit</button>
                   
            </form>
        </div>
</section>
   

</div>
    </div>
 


</main>