@model AutoMate.Models.UserModel

@{
    ViewBag.Title = "Index";
}

<style>
    #cardTitle {
        font-weight: 200;
        font-size: 1.5em;
    }
</style>

<main>
    <div class="row">
        <section id="MapArea">
            <div class="col-sm-8" id="Map">

            </div>
            

        </section>
    </div>
    <div class="row">
        <section id="FilterOptions">
            <select class="form-control col-sm-4" id="Options">
                <option>Car Pool</option>
                <option>Buses</option>
                <option>Cycle</option>

            </select>
            <button type="submit" class="btn btn-primary" value="Send">Continue</button>
        </section>
        
    </div>



    <section></section>
</main>

