@model AutoMate.Models.UserModel

@{
    ViewBag.Title = "Index";
}

<style>
    #cardTitle {
        font-weight: 200;
        font-size: 1.5em;
    }
</style>

<main>
    <div class="row">
        <section id="MapArea">
            <div class="col-sm-8" id="Map">

            </div>
            <div class="card col-sm-3" id="Details">
                <img class="card-img-top mx-auto" src="" alt="User Profile Img">
                <div class="card-body">
                       <h5 class="card-title text-center" id="cardTitle">Welcome @Html.DisplayFor(model => model.GivenName)</h5>
                        
                    <p class="card-text">
                       Etiam nec semper est, ac cursus dui. Aliquam tristique nunc sed leo consectetur, at viverra mi pretium. Aenean et fringilla tortor, non maximus ipsum. Vivamus vitae sem ipsum. Vestibulum aliquet placerat faucibus. Maecenas eu lectus faucibus, auctor dui at, egestas sapien. Nunc id laoreet velit. Proin dui metus, semper ut maximus a, porttitor sed diam.
                    </p>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Current Rating: </b> @Html.DisplayFor(model => model.Rating)</li>
                    <li class="list-group-item"><b>Nearest Bus Stop: </b>21 Jet Street</li>
                </ul>
            </div>

        </section>
    </div>
    <div class="row">
        <section id="FilterOptions">
            <select class="form-control col-sm-4" id="Options">
                <option>Car Pool</option>
                <option>Buses</option>
                <option>Cycle</option>

            </select>
            <button type="submit" class="btn btn-primary" value="Send">Continue</button>
        </section>
        
    </div>



    <section></section>
</main>

